<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BULK</title>
    <link rel="stylesheet" href="../../statics/bulk.css" />
    <link rel="shortcut icon" href="../../assets/kg saha logo.png" type="image/x-icon" style="border-radius: 100%;">
  </head>
  <body>
    <section class="headbar">
      <div class="logo">
        <div class="kg_saha_logo"></div>
      </div>
      <div>
        <ul class="menubar">
          <li class="nav_item"><a href="index.html">HOME</a></li>
          <li class="nav_item">
            <a href="menu.html">AMUL PRODUCTS</a>
          </li>
          <li class="nav_item"><a href="">GOLDEN DELIGHTS PRODUCTS</a></li>
          <li class="nav_item"><a href="">CASHEW NUTS</a></li>
          <li class="nav_item"><a href="">CONTACT</a></li>
          <li class="nav_item"><a href="">ABOUT</a></li>
        </ul>
      </div>
    </section>

    <section class="bulk">
      <ul>
        <li>
          <div
            id="bulk-van"
            class="bulk-item"
            onmouseenter="over_bulk('van')"
            onmouseleave="out_bulk('van')"
          ></div>
          <div id="bulk-van-cont" class="cont">AMUL BULK VANILLA 5L</div>
        </li>
        <li>
          <div
            id="bulk-straw"
            class="bulk-item"
            onmouseenter="over_bulk('straw')"
            onmouseleave="out_bulk('straw')"
          ></div>
          <div id="bulk-straw-cont" class="cont">AMUL BULK STRAWBERRY 5L</div>
        </li>
        <li>
          <div
            id="bulk-bs"
            class="bulk-item"
            onmouseenter="over_bulk('bs')"
            onmouseleave="out_bulk('bs')"
          ></div>
          <div id="bulk-bs-cont" class="cont">AMUL BULK BUTTER-SCOTCH 5L</div>
        </li>
        <li>
          <div
            id="bulk-choco"
            class="bulk-item"
            onmouseenter="over_bulk('choco')"
            onmouseleave="out_bulk('choco')"
          ></div>
          <div id="bulk-choco-cont" class="cont">AMUL BULK CHOCOLATE 5L</div>
        </li>
        <li>
          <div
            id="bulk-t-n-f"
            class="bulk-item"
            onmouseenter="over_bulk('t-n-f')"
            onmouseleave="out_bulk('t-n-f')"
          ></div>
          <div id="bulk-t-n-f-cont" class="cont">AMUL BULK TUTTI FRUITI 5L</div>
        </li>
        <li>
          <div
            id="bulk-gp"
            class="bulk-item"
            onmouseenter="over_bulk('gp')"
            onmouseleave="out_bulk('gp')"
          ></div>
          <div id="bulk-gp-cont" class="cont">AMUL BULK GREEN PISTA 5L</div>
        </li>
        <li>
          <div
            id="bulk-an"
            class="bulk-item"
            onmouseenter="over_bulk('an')"
            onmouseleave="out_bulk('an')"
          ></div>
          <div id="bulk-an-cont" class="cont">AMUL BULK AMERICAN NUTS 5L</div>
        </li>
        <li>
          <div
            id="bulk-rajbhoj"
            class="bulk-item"
            onmouseenter="over_bulk('rajbhoj')"
            onmouseleave="out_bulk('rajbhoj')"
          ></div>
          <div id="bulk-rajbhoj-cont" class="cont">AMUL BULK RAJ BHOJ 5L</div>
        </li>
        <li>
          <div
            id="bulk-bc"
            class="bulk-item"
            onmouseenter="over_bulk('bc')"
            onmouseleave="out_bulk('bc')"
          ></div>
          <div id="bulk-bc-cont" class="cont">AMUL BULK BLACK CURRENT 5L</div>
        </li>
        <li>
          <div
            id="bulk-kp"
            class="bulk-item"
            onmouseenter="over_bulk('kp')"
            onmouseleave="out_bulk('kp')"
          ></div>
          <div id="bulk-kp-cont" class="cont">AMUL BULK KESAR PISTA 5L</div>
        </li>
        <li>
          <div
            id="bulk-sc"
            class="bulk-item"
            onmouseenter="over_bulk('sc')"
            onmouseleave="out_bulk('sc')"
          ></div>
          <div class="cont" id="bulk-sc-cont">AMUL BULK SALTED CARAMEL 5L</div>
        </li>
        <li>
          <div
            id="bulk-cnc"
            class="bulk-item"
            onmouseenter="over_bulk('cnc')"
            onmouseleave="out_bulk('cnc')"
          ></div>
          <div id="bulk-cnc-cont" class="cont">
            AMUL BULK COOKIES N CREAM 5L
          </div>
        </li>
        <li>
          <div
            id="bulk-mango"
            class="bulk-item"
            onmouseenter="over_bulk('mango')"
            onmouseleave="out_bulk('mango')"
          ></div>
          <div id="bulk-mango-cont" class="cont">
            AMUL BULK ALHONSO MANGO 5L
          </div>
        </li>
        <li>
          <div
            id="bulk-shalimar"
            class="bulk-item"
            onmouseenter="over_bulk('shalimar')"
            onmouseleave="out_bulk('shalimar')"
          ></div>
          <div id="bulk-shalimar-cont" class="cont">AMUL BULK SHALIMAR 5L</div>
        </li>
        <li>
          <div
            id="bulk-kulfi"
            class="bulk-item"
            onmouseenter="over_bulk('kulfi')"
            onmouseleave="out_bulk('kulfi')"
          ></div>
          <div id="bulk-kulfi-cont" class="cont">
            AMUL BULK KULFI E KHAAS 5L
          </div>
        </li>
        <li>
          <div
            id="bulk-tc"
            class="bulk-item"
            onmouseenter="over_bulk('tc')"
            onmouseleave="out_bulk('tc')"
          ></div>
          <div id="bulk-tc-cont" class="cont">AMUL BULK TENDER COCONUT 5L</div>
        </li>
        <li>
          <div
            id="bulk-orange"
            class="bulk-item"
            onmouseenter="over_bulk('orange')"
            onmouseleave="out_bulk('orange')"
          ></div>
          <div id="bulk-orange-cont" class="cont">AMUL BULK ORANGE 5L</div>
        </li>
        <li>
          <div
            id="bulk-chip"
            class="bulk-item"
            onmouseenter="over_bulk('chip')"
            onmouseleave="out_bulk('chip')"
          ></div>
          <div id="bulk-chip-cont" class="cont">AMUL BULK CHOCO CHIP 5L</div>
        </li>
        <li>
          <div
            id="bulk-ra"
            class="bulk-item"
            onmouseenter="over_bulk('ra')"
            onmouseleave="out_bulk('ra')"
          ></div>
          <div id="bulk-ra-cont" class="cont">AMUL BULK ROASTED ALMOND 5L</div>
        </li>
        <li>
          <div
            id="bulk-ca"
            class="bulk-item"
            onmouseenter="over_bulk('ca')"
            onmouseleave="out_bulk('ca')"
          ></div>
          <div id="bulk-ca-cont" class="cont">AMUL BULK CREAMY ALMOND 5L</div>
        </li>
        <li>
          <div
            id="bulk-kaju"
            class="bulk-item"
            onmouseenter="over_bulk('kaju')"
            onmouseleave="out_bulk('kaju')"
          ></div>
          <div id="bulk-kaju-cont" class="cont">AMUL BULK KAJU DRAKSH 5L</div>
        </li>
        <li>
          <div
            id="bulk-anjir"
            class="bulk-item"
            onmouseenter="over_bulk('anjir')"
            onmouseleave="out_bulk('anjir')"
          ></div>
          <div id="bulk-anjir-cont" class="cont">AMUL BULK ANJIR 5L</div>
        </li>
        <li>
          <div
            id="bulk-afghan"
            class="bulk-item"
            onmouseenter="over_bulk('afghan')"
            onmouseleave="out_bulk('afghan')"
          ></div>
          <div id="bulk-afghan-cont" class="cont">
            AMUL BULK AFGHAN DRY FRUIT 5L
          </div>
        </li>
        <li>
          <div
            id="bulk-coffee"
            class="bulk-item"
            onmouseenter="over_bulk('coffee')"
            onmouseleave="out_bulk('coffee')"
          ></div>
          <div id="bulk-coffee-cont" class="cont">AMUL BULK COFFEE 5L</div>
        </li>
        <li>
          <div
            id="bulk-mdf"
            class="bulk-item"
            onmouseenter="over_bulk('mdf')"
            onmouseleave="out_bulk('mdf')"
          ></div>
          <div id="bulk-mdf-cont" class="cont">
            AMUL BULK MOROCCAN DRY FRUIT 5L
          </div>
        </li>
        <li>
          <div
            id="bulk-sscb"
            class="bulk-item"
            onmouseenter="over_bulk('sscb')"
            onmouseleave="out_bulk('sscb')"
          ></div>
          <div id="bulk-sscb-cont" class="cont">AMUL BULK SSCB 5L</div>
        </li>
        <li>
          <div
            id="bulk-pineapple"
            class="bulk-item"
            onmouseenter="over_bulk('pineapple')"
            onmouseleave="out_bulk('pineapple')"
          ></div>
          <div id="bulk-pineapple-cont" class="cont">
            AMUL BULK PINEAPPLE 5L
          </div>
        </li>
        <li>
          <div
            id="bulk-pan-nawabi"
            class="bulk-item"
            onmouseenter="over_bulk('pan-nawabi')"
            onmouseleave="out_bulk('pan-nawabi')"
          ></div>
          <div
            id="bulk-pan-nawabi-cont"
            class="cont"
            onmouseenter="over_bulk('pan-nawabi')"
            onmouseleave="out_bulk('pan-nawabi')"
          >
            AMUL BULK PAN NAWABI 5L
          </div>
        </li>
      </ul>
    </section>

    <script src="../../script.js" defer></script>
  </body>
</html>
