<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AMUL COMBO</title>
    <script src="../../script.js" defer></script>
    <link rel="stylesheet" href="../../statics/combo.css" />
  </head>
  <body>
    <section class="headbar">
      <div class="logo">
        <div class="kg_saha_logo"></div>
      </div>
      <div>
        <ul class="menubar">
          <li class="nav_item"><a href="index.html">HOME</a></li>
          <li class="nav_item">
            <a href="menu.html">AMUL PRODUCTS</a>
          </li>
          <li class="nav_item"><a href="">GOLDEN DELIGHTS PRODUCTS</a></li>
          <li class="nav_item"><a href="">CASHEW NUTS</a></li>
          <li class="nav_item"><a href="">CONTACT</a></li>
          <li class="nav_item"><a href="">ABOUT</a></li>
        </ul>
      </div>
    </section>

    <section class="combo">
      <ul>
        <li>
          <div
            class="combo-item"
            id="combo-afghan"
            onmouseenter="over_combo('afghan')"
            onmouseleave="out_combo('afghan')"
          ></div>
          <div class="cont" id="combo-afghan-cont">
            AMUL AFGHAN DRY FRUIT 1+1f
          </div>
        </li>
        <li>
          <div
            class="combo-item"
            id="combo-alphon"
            onmouseenter="over_combo('alphon')"
            onmouseleave="out_combo('alphon')"
          ></div>
          <div class="cont" id="combo-alphon-cont">
            AMUL ALPHONSO MANGO 1+1f
          </div>
        </li>
        <li>
          <div
            class="combo-item"
            id="combo-bc"
            onmouseenter="over_combo('bc')"
            onmouseleave="out_combo('bc')"
          ></div>
          <div class="cont" id="combo-bc-cont">AMUL BLACK CURRENT 1+1f</div>
        </li>
        <li>
          <div
            class="combo-item"
            id="combo-bs"
            onmouseenter="over_combo('bs')"
            onmouseleave="out_combo('bs')"
          ></div>
          <div class="cont" id="combo-bs-cont">AMUL BUTTER SCOTCH 1+1f</div>
        </li>
        <li>
          <div
            class="combo-item"
            id="combo-choco"
            onmouseenter="over_combo('choco')"
            onmouseleave="out_combo('choco')"
          ></div>
          <div class="cont" id="combo-choco-cont">AMUL CHOCOLATE 1+1f</div>
        </li>
        <li>
          <div
            class="combo-item"
            id="combo-rajbhoj"
            onmouseenter="over_combo('rajbhoj')"
            onmouseleave="out_combo('rajbhoj')"
          ></div>
          <div class="cont" id="combo-rajbhoj-cont">AMUL RAJBHOJ 1+1f</div>
        </li>
        <li>
          <div
            class="combo-item"
            id="combo-straw"
            onmouseenter="over_combo('straw')"
            onmouseleave="out_combo('straw')"
          ></div>
          <div class="cont" id="combo-straw-cont">AMUL STRAWBERRY 1+1f</div>
        </li>
        <li>
          <div
            class="combo-item"
            id="combo-van"
            onmouseenter="over_combo('van')"
            onmouseleave="out_combo('van')"
          ></div>
          <div class="cont" id="combo-van-cont">AMUL VANILLA 1+1f</div>
        </li>
      </ul>
    </section>
  </body>
</html>
