<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AMUL ICE CREAM</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../statics/cone.css" />
    <script defer src="../../script.js"></script>
  </head>
  <body style="overflow: hidden">
    <section class="headbar">
      <div class="logo"></div>
      <div>
        <ul class="menubar">
          <li class="nav_item"><a href="../../index.html">HOME</a></li>
          <li class="nav_item"><a href="menu.html">AMUL PRODUCTS</a></li>
          <li class="nav_item"><a href="">GOLDEN DELIGHTS PRODUCTS</a></li>
          <li class="nav_item"><a href="">CASHEW NUTS</a></li>
          <li class="nav_item"><a href="">CONTACT</a></li>
          <li class="nav_item"><a href="">ABOUT</a></li>
        </ul>
      </div>
    </section>

    <section class="cone">
      <ul>
        <li>
          <div
            id="butterscotch"
            class="cone-item"
            onmouseenter="over_cone('butterscotch')"
            onmouseleave="out_cone('butterscotch')"
          ></div>
          <div id="butterscotch-cont" class="cont">
            <span>AMUL TRICONE BUTTERSCOTCH</span> <br />
            120 ml <br />
            Creamy Butterscotch ice cream filled in crispy wafer cone, topped
            with cashew nuts and chocolate sauce.
          </div>
        </li>
        <li>
          <div
            id="chocolate"
            class="cone-item"
            onmouseenter="over_cone('chocolate')"
            onmouseleave="out_cone('chocolate')"
          ></div>
          <div id="chocolate-cont" class="cont">
            <span>AMUL TRICONE CHOCOLATE</span> <br />
            120 ml <br />
            Rich Chocolate ice cream filled in crispy wafer cone, topped with
            cashew nuts and chocolate sauce.
          </div>
        </li>
        <li>
          <div
            id="two-in-one"
            class="cone-item"
            onmouseenter="over_cone('two-in-one')"
            onmouseleave="out_cone('two-in-one')"
          ></div>
          <div id="two-in-one-cont" class="cont">
            <span>AMUL TRICONE TWO IN ONE</span> <br />
            120 ml <br />
            Vanilla & Strawberry ice cream filled together in crispy dual
            colored and flavoured wafer cone, topped with almond nuts and
            chocolate sauce.
          </div>
        </li>
        <li>
          <div
            id="black-current"
            class="cone-item"
            onmouseenter="over_cone('black-current')"
            onmouseleave="out_cone('black-current')"
          ></div>
          <div id="black-current-cont" class="cont">
            <span>AMUL TRICONE BLACK CURRENT</span> <br />
            120 ml <br />
            Lip Smacking Black Currant ice cream filled in crispy wafer cone,
            topped with black currant raisins.
          </div>
        </li>
        <li>
          <div
            id="cookie-crunch"
            class="cone-item"
            onmouseenter="over_cone('cookie-crunch')"
            onmouseleave="out_cone('cookie-crunch')"
          ></div>
          <div id="cookie-crunch-cont" class="cont">
            <span>AMUL TRICONE COOKIE CRUNCH</span> <br />
            120 ml <br />
            Exquisite cookies cream ice cream filled in crispy wafer cone,
            topped with thick chocolate disc and cookies crumb.
          </div>
        </li>
        <li>
          <div
            id="choco-vanilla"
            class="cone-item"
            onmouseenter="over_cone('choco-vanilla')"
            onmouseleave="out_cone('choco-vanilla')"
          ></div>
          <div id="choco-vanilla-cont" class="cont">
            <span>AMUL TRICONE CHOCO VANILLA</span> <br />
            120 ml <br />
            Vanilla ice cream filled in crispy wafer cone, topped with choco
            chips.
          </div>
        </li>
        <li>
          <div
            id="pista-badam"
            class="cone-item"
            onmouseenter="over_cone('pista-badam')"
            onmouseleave="out_cone('pista-badam')"
          ></div>
          <div id="pista-badam-cont" class="cont">
            <span>AMUL TRICONE PISTA BADAM</span> <br />
            120 ml <br />
            Exquisite cookies cream ice cream filled in crispy wafer cone,
            topped with thick chocolate disc and cookies crumb.
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>
