<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AMUL CUP</title>
    <link rel="stylesheet" href="../../statics/cup.css" />
    <script defer src="../../script.js"></script>
  </head>
  <body>
    <section class="headbar">
      <div class="logo">
        <div class="kg_saha_logo"></div>
      </div>
      <div>
        <ul class="menubar">
          <li class="nav_item"><a href="index.html">HOME</a></li>
          <li class="nav_item">
            <a href="menu.html">AMUL PRODUCTS</a>
          </li>
          <li class="nav_item"><a href="">GOLDEN DELIGHTS PRODUCTS</a></li>
          <li class="nav_item"><a href="">CASHEW NUTS</a></li>
          <li class="nav_item"><a href="">CONTACT</a></li>
          <li class="nav_item"><a href="">ABOUT</a></li>
        </ul>
      </div>
    </section>

    <section class="cup">
      <ul>
        <li>
          <div class="cup-item" id="Cup-100ml-chocolate" onmouseenter="over_cup('100ml-chocolate')" onmouseleave="out_cup('100ml-chocolate')"></div>
          <div class="cont" id="Cup-100ml-chocolate-cont"> 
            <span>AMUL CHOCOLATE 100ML</span><br />
            Chocolate Ice Cream and Choco. Chips – for all the chocolate lovers.
          </div>
        </li>

        <li>
          <div class="cup-item" id="Cup-100ml-butter-scotch" onmouseenter="over_cup('100ml-butter-scotch')" onmouseleave="out_cup('100ml-butter-scotch')"></div>
          <div class="cont" id="Cup-100ml-butter-scotch-cont">
            <span>AMUL BUTTERSCOTCH 100ML</span> <br />The crunchy butterscotch chikki in butterscotch ice cream – a real
            bliss.
          </div>
        </li>

        <li>
          <div class="cup-item" id="Cup-100ml-kesar-pista" onmouseenter="over_cup('100ml-kesar-pista')" onmouseleave="out_cup('100ml-kesar-pista')"></div>
          <div class="cont" id="Cup-100ml-kesar-pista-cont"><span>AMUL KESAR PISTA 100ML</span> <br>
            The deliciousness of Saffron flavoured Ice Cream with Saffron and Pistachio</div>
        </li>

        <li>
          <div class="cup-item" id="Cup-100ml-vanilla" onmouseenter="over_cup('100ml-vanilla')" onmouseleave="out_cup('100ml-vanilla')"></div>
          <div class="cont" id="Cup-100ml-vanilla-cont"><span>AMUL VANILLA 100ML</span> <br>
            Real Vanilla Real Ice Cream for those who believe in pure Ice Cream.</div>
        </li>

        <li>
          <div class="cup-item" id="Cup-100ml-alphonso" onmouseenter="over_cup('100ml-alphonso')" onmouseleave="out_cup('100ml-alphonso')"></div>
          <div class="cont" id="Cup-100ml-alphonso-cont"><span>AMUL KING ALPHONSO 100ML</span> <br>The real taste of 
            Alphonso Mango in Ice cream.</div>
        </li>

        <li>
          <div class="cup-item" id="Cup-65ml-green-pista" onmouseenter="over_cup('65ml-green-pista')" onmouseleave="out_cup('65ml-green-pista')"></div>
          <div class="cont" id="Cup-65ml-green-pista-cont"><span>AMUL GREEN PISTA 65ML</span></div>
        </li>

        <li>
          <div class="cup-item" id="Cup-55ml-strawberry" onmouseenter="over_cup('55ml-strawberry')" onmouseleave="out_cup('55ml-strawberry')"></div>
          <div class="cont" id="Cup-55ml-strawberry-cont"><span>AMUL STRAWBERR 55ML</span></div>
        </li>

        <li>
          <div class="cup-item" id="Cup-55ml-vanilla" onmouseenter="over_cup('55ml-vanilla')" onmouseleave="out_cup('55ml-vanilla')"></div>
          <div class="cont" id="Cup-55ml-vanilla-cont"><span>AMUL VANILLA 55ML</span></div>
        </li>
      </ul>
    </section>
  </body>
</html>
