<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUMBO CUP 125ML</title>
    <script defer src="../../script.js"></script>
    <link rel="stylesheet" href="../../statics/jumbo-cup.css" />
    <link
      rel="shortcut icon"
      href="../../assets/kg saha logo.png"
      type="image/x-icon"
      style="border-radius: 100%"
    />
  </head>
  <body>
    <section class="headbar">
      <div class="logo">
        <div class="kg_saha_logo"></div>
      </div>
      <div>
        <ul class="menubar">
          <li class="nav_item"><a href="index.html">HOME</a></li>
          <li class="nav_item"><a href="menu.html">AMUL PRODUCTS</a></li>
          <li class="nav_item"><a href="">GOLDEN DELIGHTS PRODUCTS</a></li>
          <li class="nav_item"><a href="">CASHEW NUTS</a></li>
          <li class="nav_item"><a href="">CONTACT</a></li>
          <li class="nav_item"><a href="">ABOUT</a></li>
        </ul>
      </div>
    </section>

    <section class="jumbo-cup">
      <ul>
        <li>
          <div
            class="jumbo-cup-item"
            id="jumbo-cup-butterscotch"
            onmouseenter="over_v2('butterscotch')"
            onmouseleave="out_v2('butterscotch')"
          ></div>
          <div class="cont" id="jumbo-cup-butterscotch-cont">
            JUMBO CUP BUTTERSCOTCH BLISS 125 ML <br />
            The crunchy butterscotch chikki in butterscotch ice cream - a real
            bliss.
          </div>
        </li>
        <li>
          <div
            id="jumbo-cup-choco-brownie"
            class="jumbo-cup-item"
            onmouseenter="over_v2('choco-brownie')"
            onmouseleave="out_v2('choco-brownie')"
          ></div>
          <div class="cont" id="jumbo-cup-choco-brownie-cont">
            JUMBO CUP CHOCO BROWINE 125ML <br />
            Brownie with Chocolate Icecream - a delight for Chocolate lovers.
          </div>
        </li>
        <li>
          <div
            id="jumbo-cup-fruit-n-nut"
            class="jumbo-cup-item"
            onmouseenter="over_v2('fruit-n-nut')"
            onmouseleave="out_v2('fruit-n-nut')"
          ></div>
          <div class="cont" id="jumbo-cup-fruit-n-nut-cont">
            JUMBO CUP FRUIT N NUT FANTASY 125 ML <br />
            The perfect combination of fruits and nuts in ice cream to tantalize
            your taste buds.
          </div>
        </li>
        <li>
          <div
            id="jumbo-cup-golden-pearl"
            class="jumbo-cup-item"
            onmouseenter="over_v2('golden-pearl')"
            onmouseleave="out_v2('golden-pearl')"
          ></div>
          <div class="cont" id="jumbo-cup-golden-pearl-cont">
            JUMBO CUP GOLDEN PEARL 125 ML <br />
            The golden combination of Vanilla and Pineapple with lots of pearls
            - orange jelly, almonds and cashews - making it a perfect delight
            for any occasion.
          </div>
        </li>
        <li>
          <div
            id="jumbo-cup-king-alphanso"
            class="jumbo-cup-item"
            onmouseenter="over_v2('king-alphanso')"
            onmouseleave="out_v2('king-alphanso')"
          ></div>
          <div class="cont" id="jumbo-cup-king-alphanso-cont">
            JUMBO KING ALPHONSO 125 ML <br />
            The real taste of Alphonso Mango in Ice cream.
          </div>
        </li>
        <li>
          <div
            id="jumbo-cup-rajbhoj"
            class="jumbo-cup-item"
            onmouseenter="over_v2('rajbhoj')"
            onmouseleave="out_v2('rajbhoj')"
          ></div>
          <div class="cont" id="jumbo-cup-rajbhoj-cont">
            JUMBO CUP RAJBHOJ 125 ML <br />
            The deliciousness of Cardamom, Honey and Saffron flavours in Ice
            Cream topped with Cashew Nuts and Almonds make up a truly Rajbhog
            delicacy.
          </div>
        </li>
        <li>
          <div
            id="jumbo-cup-shalimar"
            class="jumbo-cup-item"
            onmouseenter="over_v2('shalimar')"
            onmouseleave="out_v2('shalimar')"
          ></div>
          <div class="cont" id="jumbo-cup-shalimar-cont">
            JUMBO CUP SHALIMAR 125 ML <br />
            The taste of Gulkand blended with Crunchiness of nuts like almonds,
            cashews, pistachio and raisin to make it a delicious treat.
          </div>
        </li>
        <li>
          <div
            id="jumbo-cup-haldi"
            class="jumbo-cup-item"
            onmouseenter="over_v2('haldi')"
            onmouseleave="out_v2('haldi')"
          ></div>
          <div class="cont" id="jumbo-cup-haldi-cont">
            JUMBO CUP HALDI 125 ML <br />
            The goodness of Haldi doodh with haldi, honey and black pepper and
            the richness of dates, almonds and cashews.
          </div>
        </li>
        <li>
          <div
            id="jumbo-cup-pan-nawabi"
            class="jumbo-cup-item"
            onmouseenter="over_v2('pan-nawabi')"
            onmouseleave="out_v2('pan-nawabi')"
          ></div>
          <div class="cont" id="jumbo-cup-pan-nawabi-cont">
            JUMBO CUP PAN NAWABI 125 ML <br />
            The nawabi pan ice cream with loads of gulkand and tutti frutti \ –
            to make a perfect treat.
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>
