<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AMUL KULFI</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../statics/kulfi.css" />
    <link
      rel="shortcut icon"
      href="../../assets/kg saha logo.png"
      type="image/x-icon"
    />
    <script src="../../script.js" defer></script>
  </head>
  <body>
    <section class="headbar">
      <div class="logo">
        <div class="kg_saha_logo"></div>
      </div>
      <div>
        <ul class="menubar">
          <li class="nav_item"><a href="index.html">HOME</a></li>
          <li class="nav_item">
            <a href="templates/amul_pdts/tub.html">AMUL PRODUCTS</a>
          </li>
          <li class="nav_item"><a href="">GOLDEN DELIGHTS PRODUCTS</a></li>
          <li class="nav_item"><a href="">CASHEW NUTS</a></li>
          <li class="nav_item"><a href="">CONTACT</a></li>
          <li class="nav_item"><a href="">ABOUT</a></li>
        </ul>
      </div>
    </section>

    <section class="kulfi">
      <ul>
        <li>
          <div
            id="punjabi"
            class="kulfi-item"
            onmouseenter="over_cone('punjabi')"
            onmouseleave="out_cone('punjabi')"
          ></div>
          <div id="punjabi-cont" class="cont">AMUL PUNJABI KULFI</div>
        </li>
        <li>
          <div
            id="rajasthani"
            class="kulfi-item"
            onmouseenter="over_cone('rajasthani')"
            onmouseleave="out_cone('rajasthani')"
          ></div>
          <div id="rajasthani-cont" class="cont">AMUL RAJASTHANI KULFI</div>
        </li>
        <li>
          <div
            id="kashmiri"
            class="kulfi-item"
            onmouseenter="over_cone('kashmiri')"
            onmouseleave="out_cone('kashmiri')"
          ></div>
          <div id="kashmiri-cont" class="cont">AMUL KASHMIRI KULFI</div>
        </li>
        <li>
          <div
            id="bombay"
            class="kulfi-item"
            onmouseenter="over_cone('bombay')"
            onmouseleave="out_cone('bombay')"
          ></div>
          <div id="bombay-cont" class="cont">AMUL BOMBAY KULFI</div>
        </li>
        <li>
          <div
            id="rajwadi"
            class="kulfi-item"
            onmouseenter="over_cone('rajwadi')"
            onmouseleave="out_cone('rajwadi')"
          ></div>
          <div id="rajwadi-cont" class="cont">AMUL RAJWADI KULFI</div>
        </li>
        <li>
          <div
            id="kaju-malai"
            class="kulfi-item"
            onmouseenter="over_cone('kaju-malai')"
            onmouseleave="out_cone('kaju-malai')"
          ></div>
          <div id="kaju-malai-cont" class="cont">AMUL KAJU MALAI KULFI</div>
        </li>
        <li>
          <div
            id="shahi"
            class="kulfi-item"
            onmouseenter="over_cone('shahi')"
            onmouseleave="out_cone('shahi')"
          ></div>
          <div id="shahi-cont" class="cont">AMUL SHAHI BADAM</div>
        </li>
        <li>
          <div
            id="badhahi"
            class="kulfi-item"
            onmouseenter="over_cone('badhahi')"
            onmouseleave="out_cone('badhahi')"
          ></div>
          <div id="badhahi-cont" class="cont">AMUL BADSHAHI</div>
        </li>
        <li>
          <div
            id="mawa-malai"
            class="kulfi-item"
            onmouseenter="over_cone('mawa-malai')"
            onmouseleave="out_cone('mawa-malai')"
          ></div>
          <div id="mawa-malai-cont" class="cont">AMUL MAWA MALAI</div>
        </li>
        <li>
          <div
            id="pista-malai"
            class="kulfi-item"
            onmouseenter="over_cone('pista-malai')"
            onmouseleave="out_cone('pista-malai')"
          ></div>
          <div id="pista-malai-cont" class="cont">AMUL PISTA MALAI</div>
        </li>
        <li>
          <div
            id="rajbhoj"
            class="kulfi-item"
            onmouseenter="over_cone('rajbhoj')"
            onmouseleave="out_cone('rajbhoj')"
          ></div>
          <div id="rajbhoj-cont" class="cont">AMUL RAJBHOJ KULFI</div>
        </li>
        <li>
          <div
            id="rosogolla"
            class="kulfi-item"
            onmouseenter="over_cone('rosogolla')"
            onmouseleave="out_cone('rosogolla')"
          ></div>
          <div id="rosogolla-cont" class="cont">AMUL ROSOGOLLA KULFI</div>
        </li>
        <li>
          <div
            id="rabdi"
            class="kulfi-item"
            onmouseenter="over_cone('rabdi')"
            onmouseleave="out_cone('rabdi')"
          ></div>
          <div id="rabdi-cont" class="cont">AMUL RABDI KULFI</div>
        </li>
      </ul>
    </section>
  </body>
</html>
