<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AMUL- MENU</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../statics/menu.css" />
    <script src="../../script.js" defer></script>
    <link
      rel="shortcut icon"
      href="../../assets/kg saha logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <section class="headbar">
      <div class="logo"></div>
      <div>
        <ul class="menubar">
          <li class="nav_item"><a href="../../index.html">HOME</a></li>
          <li class="nav_item"><a href="cone.html">AMUL PRODUCTS</a></li>
          <li class="nav_item"><a href="">GOLDEN DELIGHTS PRODUCTS</a></li>
          <li class="nav_item"><a href="">CASHEW NUTS</a></li>
          <li class="nav_item"><a href="">CONTACT</a></li>
          <li class="nav_item"><a href="">ABOUT</a></li>
        </ul>
      </div>
    </section>

    <section>
      <ul class="pdt-list">
        <li>
          <div
            class="opt"
            id="bulk-item"
            onmouseenter="over_menu('bulk')"
            onmouseleave="out_menu('bulk')"
            onclick="location.replace('bulk.html')"
          ></div>
          <div class="name" id="bulk">AMUL BULK</div>
        </li>
        <li>
          <div
            class="opt"
            id="combo-item"
            onmouseenter="over_menu('combo')"
            onmouseleave="out_menu('combo')"
            onclick="location.replace('combo.html')"
          ></div>
          <div class="name" id="combo">AMUL COMBO</div>
        </li>
        <li>
          <div
            class="opt"
            id="cone-item"
            onmouseenter="over_menu('cone')"
            onmouseleave="out_menu('cone')"
            onclick="location.replace('cone.html')"
          ></div>
          <div class="name" id="cone">AMUL CONE</div>
        </li>
        <li>
          <div
            class="opt"
            id="cup-item"
            onmouseenter="over_menu('cup')"
            onmouseleave="out_menu('cup')"
            onclick="location.replace('cup.html')"
          ></div>
          <div class="name" id="cup">AMUL CUP</div>
        </li>
        <li>
          <div
            class="opt"
            id="jumbo-item"
            onmouseenter="over_menu('jumbo')"
            onmouseleave="out_menu('jumbo')"
            onclick="location.replace('jumbo-cup.html')"
          ></div>
          <div class="name" id="jumbo">AMUL JUMBO CUP</div>
        </li>
        <li>
          <div
            class="opt"
            id="stk-item"
            onmouseenter="over_menu('stk')"
            onmouseleave="out_menu('stk')"
            onclick="location.replace('stick.html')"
          ></div>
          <div class="name" id="stk">AMUL STICK</div>
        </li>
        <li>
          <div
            class="opt"
            id="tub-item"
            onmouseenter="over_menu('tub')"
            onmouseleave="out_menu('tub')"
            onclick="location.replace('tub.html')"
          ></div>
          <div id="tub" class="name">AMUL TUB</div>
        </li>
        <li>
          <div
            class="opt"
            id="kulfi-item"
            onmouseenter="over_menu('kulfi')"
            onmouseleave="out_menu('kulfi')"
            onclick="location.replace('kulfi.html')"
          ></div>
          <div id="kulfi" class="name">AMUL KULFI</div>
        </li>
      </ul>
    </section>
  </body>
</html>
