<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AMUL EPIC</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../statics/epic.css" />
    <link
      rel="shortcut icon"
      href="../../assets/kg saha logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <section class="headbar">
      <div class="logo">
        <div class="kg_saha_logo"></div>
      </div>
      <div>
        <ul class="menubar">
          <li class="nav_item"><a href="index.html">HOME</a></li>
          <li class="nav_item">
            <a href="menu.html">AMUL PRODUCTS</a>
          </li>
          <li class="nav_item"><a href="">GOLDEN DELIGHTS PRODUCTS</a></li>
          <li class="nav_item"><a href="">CASHEW NUTS</a></li>
          <li class="nav_item"><a href="">CONTACT</a></li>
          <li class="nav_item"><a href="">ABOUT</a></li>
        </ul>
      </div>
    </section>

    <section class="stick">
      <ul>
        <li>
          <div
            id="choco-almon"
            class="stick-item"
            onmouseenter="over_cone('choco-almon')"
            onmouseleave="out_cone('choco-almon')"
          ></div>
          <div id="choco-almon-cont" class="cont">AMUL CHOCO ALMOND 80ML</div>
        </li>
        <li>
          <div
            id="choco-truffle"
            class="stick-item"
            onmouseenter="over_cone('choco-truffle')"
            onmouseleave="out_cone('choco-truffle')"
          ></div>
          <div id="choco-truffle-cont" class="cont">
            AMUL CHOCO TRUFFLE 80ML
          </div>
        </li>
        <li>
          <div
            id="sweet-heart"
            class="stick-item"
            onmouseenter="over_cone('sweet-heart')"
            onmouseleave="out_cone('sweet-heart')"
          ></div>
          <div id="sweet-heart-cont" class="cont">AMUL SWEET HEART 60ML</div>
        </li>
        <li>
          <div
            id="strawberry"
            class="stick-item"
            onmouseenter="over_cone('strawberry')"
            onmouseleave="out_cone('strawberry')"
          ></div>
          <div
            id="strawberry-cont"
            class="cont"
            onmouseenter="over_cone('sweet-heart')"
            onmouseleave="out_cone('sweet-heart')"
          >
            AMUL STRAWBERRY TWIST 80ML
          </div>
        </li>
        <liv>
          <div
            class="stick-item"
            id="asli-aam"
            onmouseenter="over_cone('asli-aam')"
            onmouseleave="out_cone('asli-aam')"
          ></div>
          <div class="cont" id="asli-aam-cont">AMUL ASLI AAM 80ml</div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="coffee-bar"
            onmouseenter="over_cone('coffee-bar')"
            onmouseleave="out_cone('coffee-bar')"
          ></div>
          <div class="cont" id="coffee-bar-cont">AMUL COFFEE BAR 60ml</div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="choco-bar"
            onmouseenter="over_cone('choco-bar')"
            onmouseleave="out_cone('choco-bar')"
          ></div>
          <div class="cont" id="choco-bar-cont">AMUL CHOCOBAR 30ml & 60ml</div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="dark-c-bar"
            onmouseenter="over_cone('dark-c-bar')"
            onmouseleave="out_cone('dark-c-bar')"
          ></div>
          <div class="cont" id="dark-c-bar-cont">
            AMUL DARK CHOCOLATE BAR 60ml
          </div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="dark-c-frostik"
            onmouseenter="over_cone('dark-c-frostik')"
            onmouseleave="out_cone('dark-c-frostik')"
          ></div>
          <div class="cont" id="dark-c-frostik-cont">
            AMUL DARK CHOCOLATE FROSTIK 60ml
          </div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="choco-pop"
            onmouseenter="over_cone('choco-pop')"
            onmouseleave="out_cone('choco-pop')"
          ></div>
          <div class="cont" id="choco-pop-cont">AMUL CHOCO POP 18ml</div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="lickz-orange"
            onmouseenter="over_cone('lickz-orange')"
            onmouseleave="out_cone('lickz-orange')"
          ></div>
          <div class="cont" id="lickz-orange-cont">
            AMUL ICE LICKZ ORANGE 50ml
          </div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="lickz-mango"
            onmouseenter="over_cone('lickz-mango')"
            onmouseleave="out_cone('lickz-mango')"
          ></div>
          <div class="cont" id="lickz-mango-cont">
            AMUL ICE LICKZ MANGO 50ml
          </div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="duetz-k-mango"
            onmouseenter="over_cone('duetz-k-mango')"
            onmouseleave="out_cone('duetz-k-mango')"
          ></div>
          <div class="cont" id="duetz-k-mango-cont">
            AMUL DUETZ KHATTA MEETHA MANGO 60ml
          </div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="duetz-raspberry"
            onmouseenter="over_cone('duetz-raspberry')"
            onmouseleave="out_cone('duetz-raspberry')"
          ></div>
          <div class="cont" id="duetz-raspberry-cont">
            AMUL DUETZ RASPBERRY 60ml
          </div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="duetz-mango"
            onmouseenter="over_cone('duetz-mango')"
            onmouseleave="out_cone('duetz-mango')"
          ></div>
          <div class="cont" id="duetz-mango-cont">AMUL DUETZ MANGO 60ml</div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="fundoo-mango"
            onmouseenter="over_cone('fundoo-mango')"
            onmouseleave="out_cone('fundoo-mango')"
          ></div>
          <div class="cont" id="fundoo-mango-cont">
            AMUL FUNDOO MANGO DOLLY 60ml
          </div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="fundoo-currly"
            onmouseenter="over_cone('fundoo-currly')"
            onmouseleave="out_cone('fundoo-currly')"
          ></div>
          <div class="cont" id="fundoo-currly-cont">AMUL FUNDOO CURLY 60ml</div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="fundoo-super"
            onmouseenter="over_cone('fundoo-super')"
            onmouseleave="out_cone('fundoo-super')"
          ></div>
          <div class="cont" id="fundoo-super-cont">AMUL FUNDOO SUPER 60ml</div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="fundoo-chakri"
            onmouseenter="over_cone('fundoo-chakri')"
            onmouseleave="out_cone('fundoo-chakri')"
          ></div>
          <div class="cont" id="fundoo-chakri-cont">
            AMUL FUNDOO CHAKRI 60ml
          </div>
        </liv>
        <liv>
          <div
            class="stick-item"
            id="frostik"
            onmouseenter="over_cone('frostik')"
            onmouseleave="out_cone('frostik')"
          ></div>
          <div class="cont" id="frostik-cont">AMUL FROSTIK 70ml</div>
        </liv>
      </ul>
    </section>
    <script src="../../script.js" defer></script>
  </body>
</html>
