<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KG SAHA AGENCY</title>
    <script defer src="../../script.js"></script>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../statics/tub.css" />
    <link
      rel="shortcut icon"
      href="../../assets/kg saha logo.png"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="assets/kg saha logo.png"
      type="image/x-icon"
    />
  </head>
  <body style="overflow: hidden">
    <section class="headbar">
      <div class="logo">
        <div class="kg_saha_logo"></div>
      </div>
      <div>
        <ul class="menubar">
          <li class="nav_item"><a href="../../index.html">HOME</a></li>
          <li class="nav_item"><a href="menu.html">AMUL PRODUCTS</a></li>
          <li class="nav_item"><a href="">GOLDEN DELIGHTS PRODUCTS</a></li>
          <li class="nav_item"><a href="">CASHEW NUTS</a></li>
          <li class="nav_item"><a href="">CONTACT</a></li>
          <li class="nav_item"><a href="">ABOUT</a></li>
        </ul>
      </div>
    </section>

    <section class="tub">
      <ul>
        <li>
          <div
            class="tub-item"
            id="choco_chip"
            onmouseenter="over_tub('choco_chip')"
            onmouseleave="out_tub('choco_chip')"
          ></div>

          <div class="cont" id="choco_chip_cont">
            <span>AMUL CHOCH CHIP 1L</span><br />
            1L <br />
            a delicious harmony of real milk along with choco chips.
          </div>
        </li>
        <li>
          <div
            class="tub-item"
            id="choco_browine"
            onmouseenter="over_tub('choco_browine')"
            onmouseleave="out_tub('choco_browine')"
          ></div>
          <div class="cont" id="choco_browine_cont"><span>AMUL CHOCO BROWNIE 1L</span><br>
            a delicious harmony of real milk along with Richness of Amul
            Chocolate mixed with chocolate brownie.
          </div>
        </li>
        <li>
          <div
            class="tub-item"
            id="fnt"
            onmouseenter="over_tub('fnt')"
            onmouseleave="out_tub('fnt')"
          ></div>
          <div class="cont" id="fnt_cont"><span>AMUL FRUIT AND NUT 1L</span><br>
            a delicious harmony of real milk along with choco chips, cashew nut
            and tangy orange jelly and raisins.
          </div>
        </li>
        <li>
          <div
            class="tub-item"
            id="king_aphan"
            onmouseenter="over_tub('king_aphan')"
            onmouseleave="out_tub('king_aphan')"
          ></div>
          <div class="cont" id="king_aphan_cont"><span>AMUL KING ALPHANSO MANGO 1L</span><br>
            a delicious harmony of real milk along with real Alphonso mango
            pulp.
          </div>
        </li>
        <li>
          <div
            class="tub-item"
            id="moroccan_tub"
            onmouseenter="over_tub('moroccan_tub')"
            onmouseleave="out_tub('moroccan_tub')"
          ></div>
          <div class="moroccan_tub_cont" id="moroccan_tub_cont"><span>AMUL MOROCCAON DRY FRUIT 1L</span><br>
            a delicious harmony of real milk along with almond and pistachio
            nuts.
          </div>
        </li>
        <li>
          <div
            class="tub-item"
            id="rajbhoj_tub"
            onmouseenter="over_tub('rajbhoj_tub')"
            onmouseleave="out_tub('rajbhoj_tub')"
          ></div>
          <div class="cont" id="rajbhoj_tub_cont"><span>AMUL RAJBHOJ 1L</span><br>
            a delicious harmony of real milk along with almond, cashew nuts and
            immunity boosting honey and saffron.
          </div>
        </li>
        <li>
          <div
            class="tub-item"
            id="roasted_almon"
            onmouseenter="over_tub('roasted_almon')"
            onmouseleave="out_tub('roasted_almon')"
          ></div>
          <div class="cont" id="roasted_almon_cont"><span>AMUL ROASTED ALMOND 1L</span><br>
            a delicious harmony of real milk along with nutty roasted almonds.
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>
