<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../statics/about.css">
    <link rel="shortcut icon" href="../assets/kg saha logo.png" type="image/x-icon">
</head>
<body>
    <section class="headbar">
        <div class="logo">
            <div class="kg_saha_logo"></div>
        </div>
        <div> 
            <ul class="menubar">
                <li class="nav_item"><a href="index.html">HOME</a></li>
                <li class="nav_item"><a href="templates/amul_pdts/tub.html">AMUL PRODUCTS</a></li>
                <li class="nav_item"><a href="">GOLDEN DELIGHTS PRODUCTS</a></li>
                <li class="nav_item"><a href="">CASHEW NUTS</a></li>
                <li class="nav_item"><a href="">CONTACT</a></li>
                <li class="nav_item"><a href="">ABOUT</a></li>
            </ul>
        </div>
    </section>
</body>
</html>