* {
  padding: 0%;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.headbar {
  background-image: linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  background-repeat: no-repeat;
  margin: 0;
  height: 5rem;
  display: grid;
  grid-template-columns: auto auto;
}
body {
  background-image: linear-gradient(to bottom right, #0b0b0b, #353535);
  background-repeat: no-repeat;
}

.menubar {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  display: flex;
  justify-items: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.nav_item {
  background-image: linear-gradient(to bottom right, #0b0b0b, #353535);
  background-repeat: no-repeat;
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 100rem;
}

.nav_item:hover {
  transform: translate(0.1rem, 0.1rem);
  box-shadow: -0.5rem -0.5rem #0b0b0b;
}
.logo {
  margin-left: 6rem;
  background-color: white;
  background-image: url("../assets/kg saha logo.png");
  background-repeat: no-repeat;
  background-size: 10rem 5rem;
  width: 10rem;
  justify-content: flex-start;
}

.combo > ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 2rem;
  margin-left: 2rem;
  justify-items: center;
  row-gap: 3rem;
}
.combo-item {
  width: 14.5rem;
  height: 14.5rem;
}
.cont {
  position: relative;
  top: -3.5rem;
  font-size: 0.9rem;
  width: 14rem;
  text-align: center;
  font-weight: bolder;
}
.combo > ul > li > div:hover {
  background-color: rgb(105, 105, 105);
  border-color: #ff00d4;
  transform: translate(0.5rem, 0.5rem);
  box-shadow: -0.5rem -0.5rem rgb(184, 184, 184);
}

#combo-afghan-cont {
  visibility: hidden;
}
#combo-alphon-cont {
  visibility: hidden;
}
#combo-bc-cont {
  visibility: hidden;
}
#combo-bs-cont {
  visibility: hidden;
}
#combo-choco-cont {
  visibility: hidden;
}
#combo-rajbhoj-cont {
  visibility: hidden;
}
#combo-straw-cont {
  visibility: hidden;
}
#combo-van-cont {
  visibility: hidden;
}

#combo-van {
  background-image: url("../assets/combo/combo-vanilla.png"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  background-repeat: no-repeat;
  background-size: 14.5rem 14.5rem;
}
#combo-straw {
  background-image: url("../assets/combo/combo-straw.png"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  background-repeat: no-repeat;
  background-size: 14.5rem 14.5rem;
}
#combo-rajbhoj {
  background-image: url("../assets/combo/combo-rajbhoj.png"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  background-repeat: no-repeat;
  background-size: 14.5rem 14.5rem;
}
#combo-choco {
  background-image: url("../assets/combo/combo-choco.png"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  background-repeat: no-repeat;
  background-size: 14.5rem 14.5rem;
}
#combo-bs {
  background-image: url("../assets/combo/combo-bs.png"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  background-repeat: no-repeat;
  background-size: 14.5rem 14.5rem;
}
#combo-bc {
  background-image: url("../assets/combo/combo-black-current.png"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  background-repeat: no-repeat;
  background-size: 14.5rem 14.5rem;
}
#combo-alphon {
  background-image: url("../assets/combo/combo-alphon.png"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  background-repeat: no-repeat;
  background-size: 14.5rem 14.5rem;
}
#combo-afghan {
  background-image: url("../assets/combo/combo-afghan-dry-fruit.png"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  background-repeat: no-repeat;
  background-size: 14.5rem 14.5rem;
}

@media (width <= 768px) {
  .combo > ul {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
  }
  * {
    font-size: 10px;
  }

  .menubar {
    height: 4rem;
    padding: 0.1rem;
  }
  .menubar > li {
    height: 3.5rem;
    justify-items: center;
  }
}

@media (width <=1024px) {
  .combo > ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
  }
  * {
    font-size: 12px;
  }
}

@media (width <= 768px) {
  * {
    font-size: 10px;
  }
  .logo {
    margin-left: 3rem;
  }
}

@media (width <= 425px) {
  * {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 6px;
  }
  .combo > ul {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }
  .logo {
    margin-left: 0%;
  }
  .nav_item {
    justify-items: center;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  .combo-item {
    width: 50rem;
    height: 50rem;
    background-size: 50rem;
  }
  .cont {
    z-index: 5;
    position: relative;
    top: -20rem;
    font-size: initial;
  }
  #combo-van,
  #combo-straw,
  #combo-rajbhoj,
  #combo-choco,
  #combo-bs,
  #combo-bc,
  #combo-alphon,
  #combo-afghan {
    background-size: 50rem 50rem;
  }
}
